Checks: >
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-macro-parentheses,
  bugprone-sizeof-expression,
  bugprone-suspicious-memory-comparison,
  bugprone-suspicious-missing-comma,
  bugprone-suspicious-include
WarningsAsErrors: ''
HeaderFilterRegex: '^(?!.*build/).*$'